/* Style pour le jeu du démineur */

h1 {
	font-family: 'American Typewriter', serif;
	text-align: center;
	font-size: 50px;
	color: black;
}


#menu {
	text-align: center;
}


#newgame, #level{
	background-color: #F8F8FF;
	border-radius: 5px; 
	border-color: grey;
	font-family: 'American Typewriter', serif;
	font-size: 25px;
	color: black;
}


#gameboard {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chrono, #nbflag{
	font-family: 'American Typewriter', serif;
	font-size: 25px;
	color: black;
}

